
.p-select{
    font-size: 25px;
    flex-direction: column;
    display: flex;
    margin: 50px 50px 50px 50px;
    justify-content: space-around;
    cursor: pointer;
    text-align: center;
    align-items: center;
    

    }
#next{
  background-color: rgb(131, 48, 94);
  cursor: pointer;
  
  color: white;
  padding: 15px 32px;
  width: 30%;
  border-radius: 24px;
  font-size: 25px;
}


.nextclass{
    
    text-align: center; 
    margin-top: 20px;

}
.main{
     background-color:  rgb(255, 217, 136);
     width: 100%;
     height: 100%;
     overflow: auto;
}
#question{
    background-color: rgb(230, 42, 145);
    margin: 50px 50px 50px 90px;
    width: 85%;
    height: 50px;
    text-align: center;
    font-size: 35px;
    border-radius: 24px;
}

  .select {
    border-radius: 24px;
    margin: 24px 24px 14px 24px;
    background-color:  rgb(231, 77, 162);
    font-size: 35px;
    color:oldlace;
    width: 65%;
    height: 50px;



  }

  .active{
    background-color: darkcyan;
    color: white;

}
.mystyle{
    background-color: darkcyan;
    height: 100px;
    width: 100%;
    
}

  





    
 